.ui-modal-body.is-open {
  overflow-y: hidden;
}

.ui-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  overflow-y: scroll;
}

.ui-modal {
  padding: 16px;
  outline: 0;
}

.ui-modal.has-padding {
  padding: 0;
}

.ui-modal-overlay.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ui-modal-overlay.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ui-modal-overlay.ReactModal__Overlay--before-close {
  opacity: 0;
}