.ui-loader {
  text-align: center;
}

.ui-loader > img {
  width: 16px;
  animation-name: ui-loader-animation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transform-origin: 100% 50% 0;
}

@keyframes ui-loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}