.watch-home-season-selection-overlay {
  background: var(--color-black-1);
}

@media (min-width: 720px) {
  .watch-home-season-selection-overlay {
    background: rgba(0,0,0,0.75);
  }
}

.watch-home-season-selection-modal {
  position: relative;
}

@media (min-width: 720px) {
  .watch-home-season-selection-modal {
    margin: 64px auto;
    width: 360px;
    background: var(--color-white);
    border-radius: var(--border-radius);
  }
}

.watch-home-season-selection-close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.watch-home-season-selection-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  color: var(--color-white);
  background: var(--color-black-5);
  border-radius: 50%;
}