.ui-container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  width: 100%;
}

.ui-container.is-xl {
  max-width: 1200px;
}

.ui-container.is-lg {
  max-width: 992px;
}

.ui-container.is-md {
  max-width: 768px;
}

.ui-container.is-sm {
  max-width: 480px;
}