.watch-screen-canopy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: var(--color-black-2);
  border-bottom: 1px solid var(--color-black-1);
}

.watch-screen-canopy > .invite {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  color: var(--color-white);
  background: var(--color-black-5);
  border-radius: 50%;
}

/**
 * .watch-screen-chat
 */

.watch-screen-chat {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 640px) {
  .watch-screen-chat {
    flex-shrink: 0;
    position: absolute;
    top: 0;
    right: -240px;
    bottom: 0;
    width: 240px;
    transition: 200ms all ease;
  }

  .watch-screen-chat.is-chat-open {
    right: 0;
  }
}

@media (min-width: 992px) {
  .watch-screen-chat {
    right: -320px;
  }

  .watch-screen-chat.is-chat-open {
    width: 320px;
  }
}

.watch-screen-chat-messages-container {
  height: 100%;
  position: relative;
}

.watch-screen-chat-messages {
  height: 100%;
  overflow-y: scroll;
  background: var(--color-black-2);
}

.watch-screen-chat-group {
  padding: 16px;
  display: flex;
}

.watch-screen-chat-group > .avatar {
  align-self: flex-end;
  margin-right: 16px;
}

.watch-screen-chat-group > .messages {
  /* display: flex;
  flex-direction: column; */
}

.watch-screen-chat-group > .messages > .name {
  margin-left: 6px;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--color-black-5);
}

.watch-screen-chat-group > .messages > .list {
  display: flex;
  flex-direction: column;
}

.watch-screen-chat-group > .messages > .list > .message {
  display: flex;
}

.watch-screen-chat-group > .messages > .list > .message > .inner {
  flex-grow: 0;
  display: inline-block;
  padding: 6px 8px;
  background: var(--color-black-4);
  border-radius: 24px;
}

.watch-screen-chat-group > .messages > .list > .message:not(:last-child) > .inner {
  margin-bottom: 4px;
}

.watch-screen-chat-group > .messages > .list > .message:not(:first-child) > .inner {
  border-top-left-radius: 0;
}

.watch-screen-chat-group > .messages > .list > .message:not(:last-child) > .inner {
  border-bottom-left-radius: 0;
}

.watch-screen-chat-group.is-self {
  flex-direction: row-reverse;
  margin-left: auto;
}

.watch-screen-chat-group.is-self > .avatar {
  margin-right: 0;
  margin-left: 16px;
}

.watch-screen-chat-group.is-self > .messages > .list > .message {
  margin-left: auto;
}

.watch-screen-chat-group.is-self > .messages > .list > .message > .inner {
  background: var(--color-primary);
}

.watch-screen-chat-group.is-self > .messages > .list > .message:not(:first-child) > .inner {
  border-top-left-radius: 24px;
  border-top-right-radius: 0px;
}

.watch-screen-chat-group.is-self > .messages > .list > .message:not(:last-child) > .inner {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 0;
}

.watch-screen-activity-group {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watch-screen-activity-group > .activity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: var(--color-black-1);
  border-radius: var(--border-radius);
}

.watch-screen-activity-group > .activity:not(:last-child) {
  margin-bottom: 4px;
}

.watch-screen-activity-group > .activity > .avatar {
  margin-right: 8px;
}

/**
 * .watch-screen-chatbar
 */
.watch-screen-chatbar {
  flex-shrink: 0;
  padding: 16px;
  background: var(--color-black-2);
  border-top: 1px solid var(--color-black-1);
}

/**
 * .watch-screen-chatbar-input
 */
.watch-screen-chatbar-input {
  position: relative;
  display: flex;

  /* sanitize.css puts a margin to forms */
  margin: 0;
}

.watch-screen-chatbar-input > .button {
  flex-shrink: 0;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  font-size: 10px;
  background: var(--color-primary);
  border-radius: 50%;
  transition: 100ms background ease;
}

.watch-screen-chatbar-input > .button:disabled {
  background: var(--color-black-5);
  cursor: not-allowed;
}

.watch-screen-chatbar-input > .textarea {
  display: block;
  margin-right: 16px;
  padding: 16px;
  width: 100%;
  color: var(--color-black-5);
  outline: 0;
  /* @TODO - Maybe update --color-black-4 in the future */
  background: rgb(37, 51, 65);
  border: 1px solid transparent;
  border-radius: 25px;
  resize: none;
}

.watch-screen-chatbar-input > .textarea:focus {
  background: var(--color-black-1);
  border-color: rgb(29, 161, 242);
}

/**
 * .watch-screen-chatbar-unread-note
 */
.watch-screen-chatbar-unread-note {
  position: absolute;
  bottom: 16px;
  text-align: center;
  left: 16px;
  right: 16px;
}

.watch-screen-chatbar-unread-note > .note {
  display: inline-block;
  padding: 8px 16px;
  font-size: 12px;
  text-align: center;
  background: var(--color-black-5);
  border-radius: var(--border-radius);
  box-shadow: 4px 0 8px rgba(0,0,0,0.5);
}

.watch-screen-chatbar-unread-note > .note > .icon {
  margin-left: 8px;
}

.chat-notification-audio {
  display: none;
}