.watch-screen-canopy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: var(--color-black-2);
  border-bottom: 1px solid var(--color-black-1);
}

.watch-screen-canopy > .invite {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  color: var(--color-white);
  background: var(--color-black-5);
  border-radius: 50%;
}

.watch-screen-chatbar {
  flex-shrink: 0;
  padding: 16px;
  background: var(--color-black-2);
  border-top: 1px solid var(--color-black-1);
}

/**
 * .watch-screen-chatbar-input
 */
.watch-screen-chatbar-input {
  position: relative;
  display: flex;

  /* sanitize.css puts a margin to forms */
  margin: 0;
}

.watch-screen-chatbar-input > .button {
  flex-shrink: 0;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  font-size: 10px;
  background: var(--color-primary);
  border-radius: 50%;
  transition: 100ms background ease;
}

.watch-screen-chatbar-input > .button:disabled {
  background: var(--color-black-5);
  cursor: not-allowed;
}

.watch-screen-chatbar-input > .textarea {
  display: block;
  margin-right: 16px;
  padding: 16px;
  width: 100%;
  color: var(--color-black-5);
  outline: 0;
  /* @TODO - Maybe update --color-black-4 in the future */
  background: rgb(37, 51, 65);
  border: 1px solid transparent;
  border-radius: 25px;
  resize: none;
}

.watch-screen-chatbar-input > .textarea:focus {
  background: var(--color-black-1);
  border-color: rgb(29, 161, 242);
}

.chat-notification-audio {
  display: none;
}