.featured-show-jumbotron {
  position: relative;
  height: 320px;
  overflow: hidden;
  z-index: var(--zindex-you-were-watching);
}

@media (min-width: 640px) {
  .featured-show-jumbotron {
    height: 720px;
  }
}

@media (min-width: 992px) {
  .featured-show-jumbotron {
    height: 800px;
  }
}

.featured-show-jumbotron > .cover {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: var(--zindex-you-were-watching-image);
}

.featured-show-jumbotron > .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-black-4);
  background: linear-gradient(180deg, var(--color-black-3) 25%, var(--color-black-1) 100%);
  border-radius: var(--border-radius);
  animation-name: featured-show-jumbotron -placeholder-pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.featured-show-jumbotron > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(16, 23, 30, 0.5) 0%, transparent 10%, transparent 70%, var(--color-black-1) 100%);
  z-index: var(--zindex-you-were-watching-overlay);
}

.featured-show-jumbotron > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: var(--zindex-you-were-watching-content);
}

.featured-show-jumbotron-content {
  width: 100%;
}

.featured-show-jumbotron-content > .tags {
  display: flex;
  align-items: center;
  opacity: 0.75;
}

.featured-show-jumbotron-content > .tags > .tag {
  margin-right: 8px;
  text-shadow: var(--text-shadow-default);
  font-family: var(--font-family-subheading);
  text-transform: uppercase;
  font-weight: bold;
}

.featured-show-jumbotron-content > .title {
  font-size: 24px;
  text-shadow: var(--text-shadow-default);
  font-weight: 600;
}

@media (min-width: 640px) {
  .featured-show-jumbotron-content > .title {
    font-size: 48px;
  }
}

.featured-show-jumbotron-content > .description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-shadow: var(--text-shadow-default);
}

@media (min-width: 640px) {
  .featured-show-jumbotron-content > .description {
    font-size: 24px;
    margin-bottom: 24px;
    width: 60%;
  }
}

.featured-show-jumbotron-content > .actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) {
  .featured-show-jumbotron-content > .actions {
    align-items: center;
    flex-direction: row;
  }
}

.featured-show-jumbotron-content > .actions > .avatar {
  margin-bottom: 8px;
}

@media (min-width: 640px) {
  .featured-show-jumbotron-content > .actions > .avatar {
    margin-bottom: 0;
    margin-right: 24px;
  }
}

/**
 *
 */

 @keyframes featured-show-jumbotron-placeholder-pulse {
  0% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
}