.app-watch-volume-control-action {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.app-watch-volume-control-action > .slider {
  width: 0;
  opacity: 0;
  transition: 200ms width ease, 400ms opacity ease;
  transition-delay: 0ms, 200ms;
}

.app-watch-volume-control-action:hover > .icon {
  margin-right: 16px;
}

.app-watch-volume-control-action:hover > .slider {
  width: 80px;
  opacity: 1;
  transition-delay: 0ms, 0ms;
}

.app-watch-volume-control-action.is-muted > .icon {
  color: red;
}