.ui-avatar {
  height: 32px;
  width: 32px;
  border-radius: var(--border-radius);
}

.ui-avatar.is-sm {
  height: 16px;
  width: 16px;
}

.ui-avatar.is-m {
  height: 48px;
  width: 48px;
}

.ui-avatar.is-l {
  height: 80px;
  width: 80px;
}