.watch-screen-html-body {
  overflow-y: hidden;
  height: var(--window-vh);
}

.watch-screen {
  display: flex;
  flex-direction: column;
  height: var(--window-vh);
  width: 100vw;
  overflow-x: hidden;
}

@media (min-width: 720px) {
  .watch-screen {
    position: relative;
    flex-direction: initial;
  }
}

.watch-screen-video {
  flex-shrink: 0;
  position: relative;
  width: 100%;
}

@media (min-width: 720px) {
  .watch-screen-video {
    flex-shrink: 1;
    padding-bottom: 0;
    width: calc(100% - 320px);
    transition: 200ms all ease;
  }

  .watch-screen-video.is-chat-open {
    width: 100%;
  }
}


.watch-screen-video > .container {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  background-color: var(--color-black);
  background-size: cover;
  /* @see https://github.com/facebook/react/issues/2055 */
  cursor: pointer;
}

.watch-screen-video > .container > video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

@media (min-width: 720px) {
  .watch-screen-video > .container > video {
    position: static;
  }
}

.watch-screen-video-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background: rgba(0,0,0,0.75);
}

.watch-screen-chat {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 720px) {
  .watch-screen-chat {
    flex-shrink: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    transition: 200ms all ease;
  }

  .watch-screen-chat.is-chat-open {
    right: -320px;
  }
}

.watch-screen-chat-messages {
  flex: 1;
  overflow-y: scroll;
  background: var(--color-black-2);
}

.watch-screen-chat-group {
  padding: 16px;
  display: flex;
}

.watch-screen-chat-group > .avatar {
  align-self: flex-end;
  margin-right: 16px;
}

.watch-screen-chat-group > .messages {
  /* display: flex;
  flex-direction: column; */
}

.watch-screen-chat-group > .messages > .name {
  margin-left: 6px;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--color-black-5);
}

.watch-screen-chat-group > .messages > .list {
  display: flex;
  flex-direction: column;
}

.watch-screen-chat-group > .messages > .list > .message {
  display: flex;
}

.watch-screen-chat-group > .messages > .list > .message > .inner {
  flex-grow: 0;
  display: inline-block;
  padding: 6px 8px;
  background: var(--color-black-4);
  border-radius: 24px;
}

.watch-screen-chat-group > .messages > .list > .message:not(:last-child) > .inner {
  margin-bottom: 4px;
}

.watch-screen-chat-group > .messages > .list > .message:not(:first-child) > .inner {
  border-top-left-radius: 0;
}

.watch-screen-chat-group > .messages > .list > .message:not(:last-child) > .inner {
  border-bottom-left-radius: 0;
}

.watch-screen-chat-group.is-self {
  flex-direction: row-reverse;
  margin-left: auto;
}

.watch-screen-chat-group.is-self > .avatar {
  margin-right: 0;
  margin-left: 16px;
}

.watch-screen-chat-group.is-self > .messages > .list > .message {
  margin-left: auto;
}

.watch-screen-chat-group.is-self > .messages > .list > .message > .inner {
  background: var(--color-primary);
}

.watch-screen-chat-group.is-self > .messages > .list > .message:not(:first-child) > .inner {
  border-top-left-radius: 24px;
  border-top-right-radius: 0px;
}

.watch-screen-chat-group.is-self > .messages > .list > .message:not(:last-child) > .inner {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 0;
}

.watch-screen-activity-group {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watch-screen-activity-group > .activity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  padding-left: 8px;
  padding-right: 8px;
  background: var(--color-black-1);
  border-radius: var(--border-radius);
}

.watch-screen-activity-group > .activity:not(:last-child) {
  margin-bottom: 4px;
}

.watch-screen-activity-group > .activity > .avatar {
  margin-right: 8px;
}

@keyframes watch-screen-message-animation {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }

  15% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(4px);
  }
}

.watch-screen-message {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0,0,0,0.5);
}

.watch-screen-message > .content {
  position: relative;
  animation-name: watch-screen-message-animation;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.watch-screen-message > .content > .status {
  opacity: 0.75;
  margin-bottom: 4px;
}