.watch-screen {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 84px);
}

.watch-screen-video {
  flex-shrink: 0;
  padding-bottom: 56.25%;
  background-size: cover;
}

.watch-screen-chat {
  height: 100%;
  overflow-y: scroll;
  background: var(--color-black-2);
}

.watch-screen-chatbar {
  flex-shrink: 0;
  padding: 16px;
  background: var(--color-black-2);
  border-top: 1px solid var(--color-black-1);
}

.ui-input {
  display: block;
  padding: 0 16px;
  height: 50px;
  width: 100%;
  color: var(--color-black-5);
  background: var(--color-black-1);
  border: 0;
  outline: 0;
  border-radius: 25px;
}

.watch-screen-chat-group {
  padding: 16px;
  display: flex;
}

.watch-screen-chat-group > .avatar {
  align-self: flex-end;
  margin-right: 16px;
}

.watch-screen-chat-group > .messages {
  display: flex;
  flex-direction: column;
}

.watch-screen-chat-group > .messages > .message {
  display: flex;
}

.watch-screen-chat-group > .messages > .message > .inner {
  flex-grow: 0;
  display: inline-block;
  padding: 16px;
  background: var(--color-black-4);
  border-radius: 24px;
}

.watch-screen-chat-group > .messages > .message:not(:last-child) > .inner {
  margin-bottom: 4px;
}

.watch-screen-chat-group > .messages > .message:not(:first-child) > .inner {
  border-top-left-radius: 0;
}

.watch-screen-chat-group > .messages > .message:not(:last-child) > .inner {
  border-bottom-left-radius: 0;
}

.watch-screen-chat-group.is-self {
  flex-direction: row-reverse;
  margin-left: auto;
}

.watch-screen-chat-group.is-self > .avatar {
  margin-right: 0;
  margin-left: 16px;
}

.watch-screen-chat-group.is-self > .messages > .message {
  margin-left: auto;
}

.watch-screen-chat-group.is-self > .messages > .message > .inner {
  background: var(--color-primary);
}

.watch-screen-chat-group.is-self > .messages > .message:not(:first-child) > .inner {
  border-top-left-radius: 24px;
  border-top-right-radius: 0px;
}

.watch-screen-chat-group.is-self > .messages > .message:not(:last-child) > .inner {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 0;
}

.watch-screen-activity-group {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watch-screen-activity-group > .activity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  padding-left: 8px;
  padding-right: 8px;
  background: var(--color-black-1);
  border-radius: var(--border-radius);
}

.watch-screen-activity-group > .activity:not(:last-child) {
  margin-bottom: 4px;
}

.watch-screen-activity-group > .activity > .avatar {
  margin-right: 8px;
}