.you-were-watching {
  position: relative;
  height: 320px;
  overflow: hidden;
  z-index: var(--zindex-you-were-watching);
}

@media (min-width: 720px) {
  .you-were-watching {
    height: 480px;
  }
}

@media (min-width: 992px) {
  .you-were-watching {
    height: 640px;
  }
}

.you-were-watching > .cover {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: var(--zindex-you-were-watching-image);
}

.you-were-watching > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-fade-2);
  z-index: var(--zindex-you-were-watching-overlay);
}

.you-were-watching > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: var(--zindex-you-were-watching-content);
}

.you-were-watching > .dismiss {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  z-index: var(--zindex-you-were-watching-dismiss);
}

.you-were-watching-dismiss {
  text-align: right;
}

.you-were-watching-dismiss > .desktop {
  display: none
}

@media (min-width: 720px) {
  .you-were-watching-dismiss > .desktop {
    display: block;
  }
}

@media (min-width: 720px) {
  .you-were-watching-dismiss > .iconbtn {
    display: none;
  }
}

.you-were-watching-dismiss-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  color: var(--color-white);
  background: var(--color-black-5);
  border-radius: 50%;
}

.you-were-watching-content {
  width: 100%;
}

.you-were-watching-content > .tags {
  display: flex;
  align-items: center;
  opacity: 0.75;
}

.you-were-watching-content > .tags > .tag {
  margin-right: 8px;
  text-shadow: var(--text-shadow-default);
  font-family: var(--font-family-subheading);
  text-transform: uppercase;
  font-weight: bold;
}

.you-were-watching-content > .title {
  font-size: 24px;
  text-shadow: var(--text-shadow-default);
  font-weight: 600;
}

@media (min-width: 720px) {
  .you-were-watching-content > .title {
    font-size: 48px;
  }
}

.you-were-watching-content > .description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

@media (min-width: 720px) {
  .you-were-watching-content > .description {
    font-size: 24px;
    margin-bottom: 24px;
    width: 60%;
  }
}

.you-were-watching-content > .actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 720px) {
  .you-were-watching-content > .actions {
    align-items: center;
    flex-direction: row;
  }
}

.you-were-watching-content > .actions > .avatar {
  margin-bottom: 8px;
}

@media (min-width: 720px) {
  .you-were-watching-content > .actions > .avatar {
    margin-bottom: 0;
    margin-right: 24px;
  }
}