.subtitle-slot {
  position: absolute;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  margin: 0;
  color: var(--color-white);
  font-weight: 500;
  text-shadow: -1px -1px 0 var(--color-black),  
    1px -1px 0 var(--color-black),
    -1px 1px 0 var(--color-black),
    1px 1px 0 var(--color-black);
  line-height: 1.5;
  pointer-events: none;
  z-index: var(--zindex-player-subtitles);
  user-select: none;
}

.subtitle-slot font {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

/**
 * Positioning slots
 */
.subtitle-slot.is-top-left-subtitle,
.subtitle-slot.is-top-center-subtitle,
.subtitle-slot.is-top-right-subtitle {
  top: 0;
}

.subtitle-slot.is-middle-left-subtitle,
.subtitle-slot.is-middle-center-subtitle,
.subtitle-slot.is-middle-right-subtitle {
  top: 50%;
  transform: translateY(-50%);
}

.subtitle-slot.is-bottom-left-subtitle,
.subtitle-slot.is-bottom-center-subtitle,
.subtitle-slot.is-bottom-right-subtitle {
  bottom: 0;
}

.subtitle-slot.is-top-left-subtitle,
.subtitle-slot.is-middle-left-subtitle,
.subtitle-slot.is-bottom-left-subtitle {
  text-align: left;
}

.subtitle-slot.is-top-center-subtitle,
.subtitle-slot.is-middle-center-subtitle,
.subtitle-slot.is-bottom-center-subtitle {
  text-align: center;
}

.subtitle-slot.is-top-right-subtitle,
.subtitle-slot.is-middle-right-subtitle,
.subtitle-slot.is-bottom-right-subtitle {
  text-align: right;
}

/**
 * @NOTE
 * This is the only place we're supporting 768.
 * A hotfix to improve my party with Brian for a split setup with his small MBP screen.
 */
@media (min-width: 768px) {
  .subtitle-slot {
    font-size: 20px;
    padding-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .subtitle-slot {
    font-size: 24px;
    padding: 32px;
  }
}

.subtitle-slot.is-player-open {
  display: none;
}

@media (min-width: 992px) {
  .subtitle-slot.is-player-open {
    display: block;
  }

  .subtitle-slot.is-player-open.is-bottom-left-subtitle,
  .subtitle-slot.is-player-open.is-bottom-center-subtitle,
  .subtitle-slot.is-player-open.is-bottom-right-subtitle {
    padding-bottom: 180px;
  }
}