.subtitle-slot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  margin: 0;
  color: var(--color-white);
  font-weight: 500;
  text-shadow: -1px -1px 0 var(--color-black),  
    1px -1px 0 var(--color-black),
    -1px 1px 0 var(--color-black),
    1px 1px 0 var(--color-black);
  line-height: 1.5;
  pointer-events: none;
  z-index: var(--zindex-player-subtitles);
  user-select: none;
}

@media (min-width: 992px) {
  .subtitle-slot {
    font-size: 24px;
    padding: 32px;
  }
}

.subtitle-slot.is-player-open {
  display: none;
}

@media (min-width: 992px) {
  .subtitle-slot.is-player-open {
    display: block;
    padding-bottom: 180px;
  }
}

.subtitle-slot font {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}