.ui-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  height: 50px;
  background: var(--color-black-2);
}

.ui-navigation > .action {
  width: 25%;
  color: var(--color-black-5);
}

.ui-navigation > .action > a {
  display: inline-block;
  color: var(--color-black-5);
  text-decoration: none;
}

.ui-navigation > .action.is-back {
  margin-left: -8px;
}

.ui-navigation > .action.is-back > a {
  padding: 8px;
}

.ui-navigation > .action > a > .action-text {
  display: none;
  visibility: hidden;
  margin-left: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.ui-navigation > .action > a > .action-text > .ui-subheading {
  display: inline-block;
}

@media (min-width: 640px) {
  .ui-navigation > .action > a > .action-text {
    display: inline-block;
    visibility: visible;
  }
}

.ui-navigation > .logo {
  text-align: center;
  width: 50%;
}

.ui-navigation > .action:last-child {
  text-align: right;
}

.ui-navigation > .logo > a {
  text-decoration: none;
}