.watch-player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-modal-overlay);
}

@media (min-width: 640px) {
  .watch-player-overlay {
    position: absolute;
    background-color: transparent;
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 100%);
  }
}

.watch-player-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zindex-player-overlay);
}

@media (min-width: 640px) {
  .watch-player-container {
    position: absolute;
  }
}

.watch-player-container.-enter {
  opacity: 0;
}

.watch-player-container.-enter-active {
  opacity: 1;
  transition: 0.1s all ease;
}

.watch-player-container.-leave {
  opacity: 1;
}

.watch-player-container.-leave-active {
  opacity: 0;
  transition: 0.1s all ease;
}

.watch-player-contents {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zindex-player-elements);
}

.watch-player-modal-card {
  padding: 16px;
  padding-bottom: 48px;
  background: var(--color-white);
}

.watch-player-modal-card > .meta {
  color: var(--color-black-5);
}

.watch-player-modal-card > .title {
  color: var(--color-black-2);
  margin-bottom: 8px;
}

.watch-player-modal-card > .summary {
  color: var(--color-black-1);
  font-size: var(--font-size-h4);
  line-height: 1.25;
}

.watch-player-controls {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

@media (min-width: 992px) {
  .watch-player-controls {
    padding: 0 32px;
  }
}

.watch-player-controls > .slider {
  margin-right: 16px;
  width: 100%;
}

@media (min-width: 992px) {
  .watch-player-controls > .slider {
    margin-right: 32px;
  }
}

.watch-player-controls > .time {
  font-variant-numeric: tabular-nums;
  flex-shrink: 0;
  font-size: 16px;
}

.watch-player-controls > .time:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 992px) {
  .watch-player-controls > .time:not(:last-child) {
    margin-right: 32px;
  }
}

.watch-player-modal-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

@media (min-width: 992px) {
  .watch-player-modal-actions {
    padding: 16px 32px;
  }
}

.watch-player-modal-actions > .section {
  display: flex;
  align-items: center;
}

.watch-player-modal-actions > .section:first-child {
  /**
   * Workaround to make text ellipsis work for PlayerModal title.
   */
  min-width: 0;
}

.watch-player-modal-actions > .section:last-child {
  flex-shrink: 0;
}


.watch-player-modal-actions > .section > .action {
  position: relative;
  font-size: 20px;
  color: var(--color-white);
}

@media (min-width: 992px) {
  .watch-player-modal-actions > .section > .action {
    font-size: 32px;
  }
}

.watch-player-modal-actions > .section:first-child > .action {
  display: none;
}

@media (min-width: 992px) {
  .watch-player-modal-actions > .section:first-child > .action {
    display: flex;
  }
}

.watch-player-modal-actions > .section > .action:not(:last-child) {
  margin-right: 32px;
}

@media (min-width: 992px) {
  .watch-player-modal-actions > .section > .action:not(:last-child) {
    margin-right: 32px;
  }
}

.watch-player-modal-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding-right: 32px;
}

.watch-player-modal-title > .info {
  margin-left: 8px;
  opacity: 0.75;
}

@media (min-width: 640px) {
  .watch-player-overlay {
    display : block;
  }
}

.watch-player-browse {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
}

.watch-player-browse > .icon {
  margin-right: 16px;
}

.watch-player-mobile-actions {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.watch-player-mobile-actions > .play {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  padding-left: 2px;
  height: 40px;
  width: 40px;
  font-size: 16px;
  color: var(--color-white);
  background: var(--color-primary);
  border-radius: 50%;
}

.watch-player-mobile-actions > .action {
  padding: 16px;
  margin-right: 16px;
  font-size: 16px;
}

@media (min-width: 992px) {
  .watch-player-mobile-actions {
    display: none;
  }
}