.ui-select {
  position: relative;
}

.ui-select > select {
  display: block;
  width: 100%;
  padding: 0 12px;
  height: var(--form-size);
  color: var(--color-white);
  background: transparent;
  border: 1px solid var(--color-black-5);
  border-radius: var(--border-radius);
  outline: 0;
}

.ui-select > .caret {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--color-white);
  pointer-events: none;
}