.ui-select {
  position: relative;
}

.ui-select > select {
  display: block;
  width: 100%;
  padding: 0 12px;
  height: var(--form-size);
  color: var(--color-white);
  background: transparent;
  border: 1px solid var(--color-black-5);
  border-radius: var(--border-radius);
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.ui-select > select::-ms-expand {
  display: none;
}

.ui-select > .caret {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--color-white);
  pointer-events: none;
}

.ui-select.is-light > select {
  color: var(--color-black-4);
  border-color: var(--color-silver-3);
}

.ui-select.is-light > .caret {
  color: var(--color-silver-5);
}