.show-layout {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 160px;
}

.show-layout > .column {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

@media (min-width: 768px) {
  .show-layout > .column {
    flex-shrink: 0;
    width: 25%;
  }
}


@media (min-width: 1120px) {
  .show-layout > .column {
    flex-shrink: 0;
    width: 20%;
  }
}

/**
 *
 */

 @keyframes show-carouse-placeholder-pulse {
  0% {
    opacity: .6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
}

.show-carousel-placeholder {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 16px;
}

.show-carousel-placeholder > .block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-black-4);
  background: linear-gradient(180deg, var(--color-black-4) 45%, var(--color-black-1) 100%);
  border-radius: var(--border-radius);
  animation-name: show-carouse-placeholder-pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/**
 *
 */

.show-carousel-card-button {
  width: 100%;
}

.show-carousel-card-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 16px;
}

.show-carousel-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  color: var(--color-white);
  border-radius: var(--border-radius);
  background-size: cover;
}

.show-carousel-card > .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, rgba(0,0,0,0.5));
  border-radius: var(--border-radius);
}

.show-carousel-card > .details {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
}

.show-carousel-card > .details > .tags {
  display: flex;
  align-items: center;
  opacity: 0.75;
}

.show-carousel-card > .details > .tags > .tag {
  margin-right: 8px;
  text-shadow: var(--text-shadow-default);
  font-family: var(--font-family-subheading);
  text-transform: uppercase;
  font-weight: bold;
}

.show-carousel-card > .details > .title {
  text-shadow: var(--text-shadow-default);
  font-weight: 600;
}