.c-season-selection-select {
  width: 50%;
  margin-bottom: 16px;
}

.c-season-selection-episode {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 16px 0;
  color: var(--color-white);
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.c-season-selection-episode:first-child {
  border-top: 1px solid var(--color-black-3);
}

.c-season-selection-episode:not(:last-child) {
  border-bottom: 1px solid var(--color-black-3);
}

.c-season-selection-episode > .thumbnail {
  position: relative;
  flex-shrink: 0;
  width: 120px;
  margin-right: 12px;
  cursor: pointer;
}

.c-season-selection-episode > .thumbnail > .img {
  position: relative;
  z-index: 500;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.c-season-selection-episode > .thumbnail > .playlabel {
  position: absolute;
  top: 4px;
  right: 4px;
  display: inline-block;
  padding: 4px;
  color: var(--color-white);
  background: var(--color-primary);
  border-radius: var(--border-radius);
  z-index: 501;
}

.c-season-selection-episode > .thumbnail > .playlabel > .ui-subheading {
  font-size: 10px;
}

.c-season-selection-episode > .info {
  width: 100%;
  margin-right: 24px;
}

.c-season-selection-episode > .info > .meta {
  color: var(--color-black-5);
}

.c-season-selection-episode > .play {
  flex-shrink: 0;
  color: var(--color-black-5);
}

.c-season-selection-episode.is-light {
  color: var(--color-black-4);
}

.c-season-selection-episode.is-light:first-child {
  border-top: 1px solid var(--color-silver-2);
}

.c-season-selection-episode.is-light:not(:last-child) {
  border-bottom: 1px solid var(--color-silver-2);
}

.c-season-selection-episode.is-light > .play {
  color: var(--color-silver-3);
}