.main-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  height: 50px;
  background: var(--color-black-2);
  margin-bottom: 16px;
}

.main-heading > .action {
  width: 25%;
  color: var(--color-black-4);
}

.main-heading > .logo {
  text-align: center;
  width: 50%;
  font-family: var(--font-family-subheading);
  font-size: var(--font-size-h4);
  color: var(--color-primary);
}

.main-heading > .action:last-child {
  text-align: right;
}