.ui-input {
  display: block;
  padding: 0 16px;
  height: 50px;
  width: 100%;
  color: var(--color-black-5);
  background: var(--color-black-2);
  outline: 0;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.ui-input:focus {
  border-color: rgb(29, 161, 242);
}

.ui-input,
.ui-input:focus,
.ui-input:hover {
  font-size: var(--font-size);
}

.ui-input.is-dark {
  background: var(--color-black-1);
}

.ui-input.is-round {
  border-radius: 25px;
}