.ui-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  color: var(--color-white);
  font-weight: bold;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}

.ui-avatar.is-sm {
  font-size: 8px;
  font-weight: 400;
  height: 16px;
  width: 16px;
}

.ui-avatar.is-m {
  height: 48px;
  width: 48px;
}

.ui-avatar.is-l {
  height: 80px;
  width: 80px;
}