@media (min-width: 720px) {
  .registration-container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.registration-title {
  text-align: center;
  margin-bottom: 40px;
}

.registration-image {
  text-align: center;
  margin-bottom: 16px;
}

.registration-image > img {
  max-width: 162px;
}

.registration-action {
  margin-bottom: 16px;
}

.registration-byline {
  text-align: center;
}

.registration-byline a {
  color: var(--color-primary);
  text-decoration:  none;
}