.ui-button {
  display: inline-block;
  height: 26px;
  padding: 0 8px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--color-white);
  background: var(--color-black-5);
  font-size: var(--font-size-h6);
  border-radius: var(--border-radius);
  border: 0;
  outline: 0;
  transition: 200ms all ease;
  cursor: pointer;
}

.ui-button.is-primary {
  background: var(--color-primary);
}

.ui-button.is-clear-white {
  background: rgba(255,255,255,0.3);
  border: 1px solid var(--color-white);
}

.ui-button.is-block {
  width: 100%;
}

.ui-button.is-l {
  height: 50px;
  line-height: 49px;
}

a.ui-button {
  text-decoration: none;
  text-align: center;
}

.ui-button:disabled {
  opacity: 0.6;
}